bookmarkbackups/
browser-extension-data/
cache2/
crashes/
datareporting/
extension-store/
extension-store-menus/
extension-store-userscripts/
../afirefox-banished/gmp-gmpopenh264/
minidumps/
remote-settings/
safebrowsing/
saved-telemetry-pings/
security_state/
sessionstore-backups/
startupCache/
storage/
.parentlock
4cdb9046.sqlite
4cdb9046.sqlite-shm
4cdb9046.sqlite-wal
activity-stream.discovery_stream.json
activity-stream.inferred_personalization_feed.json
activity-stream.weather_feed.json
addonStartup.json.lz4
AlternateServices.bin
bounce-tracking-protection.sqlite
broadcast-listeners.json
cert9.db
compatibility.ini
containers.json
cookies.sqlite
cookies.sqlite-wal
domain_to_categories.sqlite
domain_to_categories.sqlite-journal
ExperimentStoreData.json
favicons.sqlite
favicons.sqlite-shm
favicons.sqlite-wal
formhistory.sqlite
handlers.json
key4.db
lock
logins.json
permissions.sqlite
pkcs11.txt
places.sqlite
places.sqlite-shm
places.sqlite-wal
protections.sqlite
search.json.mozlz4
sessionCheckpoints.json
sessionstore.jsonlz4
shield-preference-experiments.json
SiteSecurityServiceState.bin
storage.sqlite
storage-sync-v2.sqlite
suggest.sqlite
suggest.sqlite-shm
suggest.sqlite-wal
times.json
webappsstore.sqlite
webappsstore.sqlite-wal
xulstore.json
